---
name: Publish
on:
  push:
    branches: [main]
env:
  BUILDER_BASE_IMAGE_REGISTRY: docker.io
  BUILDER_BASE_IMAGE_REGISTRY_PATH: library
  RUNNER_BASE_IMAGE_REGISTRY: docker.io
  RUNNER_BASE_IMAGE_REGISTRY_PATH: library
jobs:
  build-cache:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-env:
          - dev
          #          - test
          #          - prod
        builder-base-image:
          - alpine
        builder-base-image-vsn:
          #          - 3.15.6
          - 3.16.2
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
          driver: docker
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/cache@v3
        id: cache
        with:
          # Cache deps, build, and package mgr dirs
          path: |
            .yamllint
          # deps
          # _build
          # .hex
          # .mix
          # .cache

          # Cache based on OS, BUILD_ENV, LANG, LANG_VSN, and hashFiles('**/lang.lock')
          # The default branch should cache the same without the hash for a restore
          # from latest merge to the default branch
          key: ${{ runner.os }}-${{ matrix.build-env }}-${{ matrix.builder-base-image }}-${{ matrix.builder-base-image-vsn }}
      - name: Update Cache
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          docker build . \
            --tag ghcr.io/${{ github.repository }}/container-dev-builder:${{ matrix.build-env }}-${{ matrix.builder-base-image }}-${{ matrix.builder-base-image-vsn }}-${{ github.sha }} \
            --target builder \
            --build-arg BUILD_ENV=${{ matrix.build-env }} \
            --build-arg BUILDER_REGISTRY=${{ env.BUILDER_BASE_IMAGE_REGISTRY }} \
            --build-arg BUILDER_REGISTRY_PATH=${{ env.BUILDER_BASE_IMAGE_REGISTRY_PATH }} \
            --build-arg BUILDER_BASE_IMAGE=${{ matrix.builder-base-image }} \
            --build-arg BUILDER_BASE_IMAGE_TAG=${{ matrix.builder-base-image-vsn }}
          docker container create --name cache ghcr.io/${{ github.repository }}/container-dev-builder:${{ matrix.build-env }}-${{ matrix.builder-base-image }}-${{ matrix.builder-base-image-vsn }}-${{ github.sha }}
          docker container cp cache:/opt/app/.yamllint .
          # docker container cp cache:/opt/app/deps .
          # docker container cp cache:/opt/app/_build .
          # docker container cp cache:/opt/app/.mix .
          # docker container cp cache:/opt/app/.hex .
          # docker container cp cache:/opt/app/.cache .
  build-publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        deploy-env:
          - prod
          #          - dev
          #          - test
        builder-base-image:
          - alpine
        runner-base-image:
          - alpine
        builder-base-image-vsn:
          #          - 3.15.6
          - 3.16.2
        runner-base-image-vsn:
          #          - 3.15.6
          - 3.16.2
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push the Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ghcr.io/${{ github.repository }}/container-dev:${{ github.sha }}
          context: .
          build-args: |-
            BUILD_ENV=${{ matrix.deploy-env }}
            BUILDER_REGISTRY=${{ env.BUILDER_BASE_IMAGE_REGISTRY }}
            BUILDER_REGISTRY_PATH=${{ env.BUILDER_BASE_IMAGE_REGISTRY_PATH }}
            BUILDER_BUILDER_BASE_IMAGE=${{ matrix.builder-base-image }}
            BUILDER_BUILDER_BASE_IMAGE_TAG=${{ matrix.builder-base-image-vsn }}
            DEPLOY_ENV=${{ matrix.deploy-env }}
            RUNNER_REGISTRY=${{ env.RUNNER_BASE_IMAGE_REGISTRY }}
            RUNNER_REGISTRY_PATH=${{ env.RUNNER_BASE_IMAGE_REGISTRY_PATH }}
            RUNNER_BUILDER_BASE_IMAGE=${{ matrix.runner-base-image }}
            RUNNER_BUILDER_BASE_IMAGE_TAG=${{ matrix.runner-base-image-vsn }}
